packages/EntityFramework.6.1.3/content/App.config.transform
packages/EntityFramework.6.1.3/content/Web.config.transform
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.3/tools/init.ps1
packages/EntityFramework.6.1.3/tools/install.ps1
packages/EntityFramework.6.1.3/tools/migrate.exe
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
